Repository ngnijland/leap-year: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix --max-warnings=0, prettier --write, stylelint --fix

feat: first deployable interface
  src/components/image.tsx
  src/components/layout.tsx
  src/images/gatsby-astronaut.png
  src/pages/index.tsx
Due: yarn lint:fix --max-warnings=0

docs: add netlify deployment status badge to README
  README.md
Due: none

chore: remove css lint
  .lintstagedrc
Due: none

feat: style page
  gatsby-browser.js
  package.json
  src/components/checkIcon.tsx
  src/components/header.tsx
  src/components/layout.css
  src/components/layout.module.css
  src/components/layout.module.css.d.ts
  src/components/layout.tsx
  src/components/leapYear.module.css
  src/components/leapYear.module.css.d.ts
  src/components/leapYear.tsx
  src/pages/index.tsx
  src/styles/global.css
  yarn.lock
Due: yarn lint:fix --max-warnings=0, prettier --write, stylelint --fix

feat: make leap year dynamic
  src/components/crossIcon.tsx
  src/components/leapYear.tsx
Due: yarn lint:fix --max-warnings=0

feat: enable pwa
  gatsby-config.js
Due: yarn lint:fix --max-warnings=0

feat: add twitter link
  src/components/layout.module.css
  src/components/layout.module.css.d.ts
  src/components/layout.tsx
  src/components/twitterIcon.tsx
Due: yarn lint:fix --max-warnings=0, prettier --write, stylelint --fix

fix: change twitter link
  src/components/layout.tsx
Due: yarn lint:fix --max-warnings=0

Path conditions:
  yarn lint:fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.css) or (any of: {*.{json,md}})
  stylelint --fix: any of: *.css
